
body{
  color: #40514E;
  text-align: center;
background-color:#EAF6F6;

}
p{
    line-height: 2;
}
/* Adding space between words in CSS */
.marquee-text {
  word-spacing: 15px; /* Adjust the value as needed */
}

.profile{
border-radius: 50%;
border-color:inherit;
}
.mountain{
  width: auto;

}

.top{
  position: relative;
  padding-top:100px;
  text-align:  center;
}
.middle{
margin: 100px 0;
}
.bottom{
background-color: #11999E;
}
.web1{
  width: 30%;
}
h1{
  font-size: 5em;
  margin-top: 0;
  color:#66BFBF;
  font-family: 'Sacramento', serif;
}
h2{

  font-size: 20px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Merriweather',serif;
  padding-bottom: 10px;
    word-spacing: 15px; 
}
h3{
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
}
hr{
  border-style:none;
    border-top-style:dotted;
  border-color: grey;
border-width: 6px;
width: 4%;
margin: 50px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
text-align: left;
}
.vinay1{
width: 25%;
  margin-right: 30px;
  float: left;

}
.vinay2{
width: 25%;
  margin-left: 30px;
float: right;
}
a{
color: #66BFBF;
margin-left: 50px;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top-cloud{
  position: absolute;
  right: 250px;
  top: -50px;
}

.bottom-cloud{
position: absolute;
left: 250px;
bottom: 300px;

}

.Web{
  text-decoration: underline;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.para{
  color: #EAF6F6;
font-family: 'Montserrat',sans-serif;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.description1{
  width: 50%;
  margin: auto ;
  font-family: 'Merriweather',serif;
}
.description2{
  width:auto;
  margin: auto  ;
  font-family: 'Merriweather',serif;

}
.pp{
  font-family: 'Merriweather',serif;
}
